<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <title>Carpooler</title>
  
  <meta name='HandheldFriendly' content="True">
  <meta name='MobileOptimized' content='320'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0'>
</head>
<body>

<%= yield %>

</body>
</html>
